<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <style type="text/css">
      .vl {
        border-left: 1px solid grey;
        height: 600px;
      }
      body {
        font-size: <%=font_size%>%;
      }
      .card {
        height: <%=height%>px;
        width:100%
      }
    </style>
  <title>Election Tracker</title>
</head>
<body>
  <center>
    <p style = "margin-top:2%; font-size:130%; font-weight: 450; text-decoration: underline;">Change Font Size</p>
    <p id = "size"><%= font_size  %>%</p>
    <input type = "range" min = "70" max = "130" value = <%=font_size%> id = "myRange" style = "width:300px">
    <br>
    <button class="btn btn-outline-secondary" onclick="setDefault()">Default</button>
  </center>
  <p style = "text-align: center; margin-top:3%; font-size: 180%; text-emphasis: bold;">Presidential Election 2020</p>
  <p style = "text-align: center; margin-top:2%; font-size: 140%; text-emphasis: bold;">Donald Trump vs. Joe Biden<p>
  <div class="container">
    <div class="row" style = "margin-top: 2%">
      <div class="col">
        <center>
          <div style = "margin-left:-50%">
            <img src = "../img/trump.jpg" style = "border-radius: 50%;width:17%;">
          </div>
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style = "margin-top:2%; margin-left:-50%; width:80%">
            <div class="carousel-inner">
              <% var j = 0 %>
              <% while (j < trumpTweets.length) {%>
                <%if (j==0) {%>
                  <div class="carousel-item active " id = "trump<%=j%> ">
                    <div class="card" style="width: 18rem;" id = "trump<%=j%>">
                      <div class="card-body">
                        <p class="card-title" style = "font-size:120%; font-weight: 500;">Donald Trump</p>
                        <p class="card-subtitle mb-2 text-muted" style = "font-size:100%; font-weight: 500;">@RealDonaldTrump  <img src = "../img/twitter.png" style = "width:20px"></p>
                        <p class="card-text"><%=trumpTweets[j].text%> </p>
                      </div>
                    </div>
                <% }  else {%>  
                <div class="carousel-item" id = "trump<%=j%> ">
                  <div class="card" style="width: 18rem;" id = "trump<%=j%>">
                    <div class="card-body">
                      <p class="card-title" style = "font-size:120%; font-weight: 500;">Donald Trump</p>
                      <p class="card-subtitle mb-2 text-muted" style = "font-size:100%; font-weight: 500;">@RealDonaldTrump  <img src = "../img/twitter.png" style = "width:20px"></p>
                      <p class="card-text"><%=trumpTweets[j].text%> </p>
                    </div>
                  </div>
                <% } %> 
                <% j++ %>
                </div>
              <% } %>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true" style = "background-color: lightgrey;"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true" style = "background-color: lightgrey;"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          
        </center>
      </div>
      <div class="vl">

      </div>
      <div class="col">
        <center>
          <div style = "margin-left:40%">
            <img src = "../img/Joe_Biden.jpg" style = "border-radius: 50%;width:43%;">
          </div>
          <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel" style = "margin-top:2%; margin-left:30%; width: 80%">
            <div class="carousel-inner">
              <% var j = 0 %>
              <% while (j < bidenTweets.length) {%>
                <%if (j==0) {%>
                  <div class="carousel-item active " id = "trump<%=j%>">
                    <div class="card" style="width: 18rem;" id = "biden<%=j%>">
                      <div class="card-body">
                        <p class="card-title" style = "font-size:120%; font-weight: 500;">Joe Biden</p>
                        <p class="card-subtitle mb-2 text-muted" style = "font-size:100%; font-weight: 500;">@Joe Biden  <img src = "../img/twitter.png" style = "width:20px"></p>
                        <p class="card-text"><%=bidenTweets[j].text%> </p>
                      </div>
                    </div>
                <% }  else {%>  
                <div class="carousel-item" id = "trump<%=j%> ">
                  <div class="card" style="width: 18rem" id = "biden<%=j%>">
                    <div class="card-body">
                      <p class="card-title" style = "font-size:120%; font-weight: 500;">Joe Biden</p>
                      <p class="card-subtitle mb-2 text-muted" style = "font-size:100%; font-weight: 500;">@Joe Biden  <img src = "../img/twitter.png" style = "width:20px"></p>
                      <p class="card-text"><%=bidenTweets[j].text%> </p>
                    </div>
                  </div>
                <% } %> 
                <% j++ %>
                </div>
              <% } %>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true" style = "background-color: lightgrey;"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next" >
              <span class="carousel-control-next-icon" aria-hidden="true" style = "background-color: lightgrey;"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </center>
      </div>
    </div>
  </div>


<div class="container">
    <div class="row">
      <div class="col">
        <center>
          <div id="carouselExampleControls2" class="carousel slide" data-ride="carousel" style = "margin-top:2%; margin-left:-50%; width:80%">
            <div class="carousel-inner">
              <% var j = 0 %>
              <% while (j < nytimesTrump.length) {%>
                <%if (j==0) {%>
                  <div class="carousel-item active " id = "trump<%=j%> ">
                    <div class="card" style="width: 18rem;" id = "trump<%=j%>">
                      <div class="card-body">
                        <p class="card-title" style = "font-size:110%; font-weight: 500;">Donald Trump</h5>
                        <br>
                        <img src = "../img/nyt.png" style = "width:110px">
                        <p><%= nytimesTrump[j].abstract%> </p>
                        <a href = <%=nytimesTrump[j].url%>><%=nytimesTrump[j].url%></a>
                      </div>
                    </div>
                <% }  else {%>  
                <div class="carousel-item" id = "trump<%=j%> ">
                  <div class="card" style="width: 18rem;" id = "trump<%=j%>">
                    <div class="card-body">
                      <p class="card-title" style = "font-size:110%; font-weight: 500;">Donald Trump</h5>
                      <br>
                      <img src = "../img/nyt.png" style = "width:110px">
                      <p><%= nytimesTrump[j].abstract%> </p>
                      <a href = <%=nytimesTrump[j].url%>><%=nytimesTrump[j].url%></a>
                    </div>
                  </div>
                <% } %> 
                <% j++ %>
                </div>
              <% } %>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true" style = "background-color: lightgrey;"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true" style = "background-color: lightgrey;"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          
        </center>
      </div>
      <div class="vl">

      </div>
      <div class="col">
        <center>
          <div id="carouselExampleControls3" class="carousel slide" data-ride="carousel" style = "margin-top:2%; margin-left:30%; width: 80%">
            <div class="carousel-inner">
              <% var j = 0 %>
              <% while (j < nytimesBiden.length) {%>
                <%if (j==0) {%>
                  <div class="carousel-item active " id = "trump<%=j%> ">
                    <div class="card" style="width: 18rem;" id = "trump<%=j%>">
                      <div class="card-body">
                        <p class="card-title" style = "font-size:110%; font-weight: 500;">Joe Biden</h5>
                        <br>
                        <img src = "../img/nyt.png" style = "width:110px">
                        <p><%= nytimesBiden[j].abstract%> </p>
                        <a href = <%=nytimesBiden[j].url%>><%=nytimesBiden[j].url%></a>
                      </div>
                    </div>
                <% }  else {%>  
                <div class="carousel-item" id = "trump<%=j%> ">
                  <div class="card" style="width: 18rem;" id = "trump<%=j%>">
                    <div class="card-body">
                      <p class="card-title" style = "font-size:110%; font-weight: 500;">Joe Biden</h5>
                      <br>
                      <img src = "../img/nyt.png" style = "width:110px">
                      <p><%= nytimesBiden[j].abstract%> </p>
                      <a href = <%=nytimesBiden[j].url%>><%=nytimesBiden[j].url%></a>
                    </div>
                  </div>
                <% } %> 
                <% j++ %>
                </div>
              <% } %>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls3" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true" style = "background-color: lightgrey;"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls3" role="button" data-slide="next" >
              <span class="carousel-control-next-icon" aria-hidden="true" style = "background-color: lightgrey;"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </center>
      </div>
    </div>
  </div>
  
  
  <br>
  <br>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    if(localStorage.getItem("firstTime")==null){
      setTimeout(() => { alert("To use built in navigation by keystrokes press the keys in parentheses next to the area you are trying to go to. For example press 2 to go to the Search Page"); }, 2000);
      localStorage.setItem("firstTime","done");
    }
  //setTimeout(() => { alert("To use built in navigation by keystrokes press the keys in parentheses next to the area you are trying to go to. For example press 2 to go to the Search Page"); }, 2000);
  //alert("To use built in navigation by keystrokes press the keys in parentheses next to the area you are trying to go to. For example press 2 to go to the Search Page");
  
    document.onkeydown = function(e) {
        if (e.which == 49) {
          var newUrl = "/";
          window.location.replace(newUrl);
          document.location.href = newUrl;
        } else if (e.which == 50){
          var newUrl = "/politician_search";
          window.location.replace(newUrl);
          document.location.href = newUrl;
        } 
    };
    function setDefault() {
      var val = 100
      document.getElementById("myRange").value = val
      document.getElementById("size").innerHTML = `${val}%`
      var height = 400
      var sheet = document.styleSheets[document.styleSheets.length -1 ]
      var rules = sheet.cssRules || sheet.rules
      rules[1].style.fontSize = `${val}%`
      rules[2].style.height = `${height}px`
      rules[2].style.width = `${val}%`

      const url = `/updateSize/${val}/${height}/index`
      $.ajax({
          global:false,
          type:'GET',
          url: url,
          dataType:'html',
          data: {},
          success : function (result) {
              console.log(result);
          },
          error: function (request, status, error) {
              console.log(error)
              Response.redirect('/')
          }
      })
    }
    document.getElementById("myRange").addEventListener("change", () => {
      var val = document.getElementById("myRange").value
      document.getElementById("size").innerHTML = `${val}%`
      var height = 350 * (1 + (val - 100)/100) + 80
      var sheet = document.styleSheets[document.styleSheets.length -1 ]
      var rules = sheet.cssRules || sheet.rules
      rules[1].style.fontSize = `${val}%`
      rules[2].style.height = `${height}px`
      rules[2].style.width = `${val}%`

      const url = `/updateSize/${val}/${height}/index`
      $.ajax({
          global:false,
          type:'GET',
          url: url,
          dataType:'html',
          data: {},
          success : function (result) {
              console.log(result);
          },
          error: function (request, status, error) {
              console.log(error)
              Response.redirect('/')
          }
      })
    })
  </script>
</body>
</html>
