<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    body {
        font-size: <%=font_size%>%;
    }
    .card {
      height: <%=height%>px;
      width:100%
    }
    .form-control-lg::-webkit-input-placeholder {
      font-size: <%=font_size%>%
    }
  </style>
</head>
<body>
  <center>
    <p style = "margin-top:2%; font-size:130%; font-weight: 450; text-decoration: underline;">Change Font Size</p>
    <p id = "size"><%= font_size  %>%</p>
    <input type = "range" min = "70" max = "130" value = <%=font_size%> id = "myRange" style = "width:300px">
    <br>
    <button class="btn btn-outline-secondary" onclick="setDefault()">Default</button>
  </center>
    <div class="container" style = "margin-top:5%">
      <div class="row">
        <div class="col">
          <p style = "text-align: center; font-size:160%; font-weight: 500;">Search Politicians</p>
          <form method="GET" action = "/search">
            <center>
              <input class = "form-control-lg" type="text" style = "width:70%" name = "search" placeholder="Search Politicians or Leave Blank To Seach Through All Politicians"/>
              <div class="form-group" style = "margin-top:2%">
                <label for="exampleSelect1"><u>Party:</u></label>
                <select class="form-control" id="exampleSelect1" name = "party" style = "width:60%">
                  <option>All</option>
                  <option>Democrat</option>
                  <option>Republican</option>
                  <option>Libertarian</option>
                  <option>Green</option>
                  <option>Allience</option>
                  <option>Party For Socialism And Liberation</option>
                  <option>Constitution</option>
                  <option>Independent</option>
                </select>
              </div>

              <div class="form-group" style = "margin-top:2%">
                <label for="exampleSelect1"><u>Source:</u></label>
                <select class="form-control" id="exampleSelect1" name = "source" style = "width:60%">
                  <option>All</option>
                  <option>Twitter</option>
                  <option>New York Times</option>
                  <option>Five Thirty Eight</option>
                </select>
              </div>
              <button  type="submit" class="btn btn-outline-secondary" style = "margin-top: 1%;">Search</button>
            </center>
            
          </form>
        </div>
      </div>
     
      <div class="row">
        <% var k = 0 %> 
        <% names.forEach(name => { %>
        
        <div class="col">
          <center>
            
            <p style = "margin-top:4%; font-size:150%; font-weight: 500;"><u><%= name %></u></p>
            <% if (tweets.length > 0) { %> 
            <div id="carouselExampleControls<%=k%>" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <% var j = 0 %> 
                <% for (var i = 0; i < tweets.length; i++) {%>
                  <% if (tweets[i].name == name) {%>
                    <% if(j == 0) { %>
                      <div class="carousel-item active">
                        <div class="card" style="width: 18rem;">
                          <div class="card-body">
                            <p class="card-title" style = "font-size: 110%;font-weight: 500;"><%=name%></p>
                            <p class="card-subtitle mb-2 text-muted" style = "font-size:105%; font-weight:bold">@<%=tweets[i].uName%> <img src = "../img/twitter.png" style = "width:20px"></p>
                            <p><%= tweets[i].tweet.text %> </p>
                          </div>
                        </div>
                      </div>
                    <% } else {%>
                      <div class="carousel-item">
                        <div class="card" style="width: 18rem;">
                          <div class="card-body">
                            <p class="card-title" style = "font-size: 110%;font-weight: 500;"><%=name%></p>
                            <p class="card-subtitle mb-2 text-muted" style = "font-size:105%; font-weight:bold">@<%=tweets[i].uName%> <img src = "../img/twitter.png" style = "width:20px"></p>
                            <p><%= tweets[i].tweet.text %> </p>
                          </div>
                        </div>
                      </div>
                    <% } %>
                    <% j++ %>
                  <% } %>
                <% } %>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls<%=k%>" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true" style = "background-color: lightgrey;"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls<%=k%>" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true" style = "background-color: lightgrey;"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          
            <br>
            <br>
            <br>
            <% } %>

            <% if (nytimes.length > 0) { %> 
            <div id="carouselExampleControls<%=k%><%=k%>" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <% var j = 0 %> 
                <% for (var i = 0; i < nytimes.length; i++) {%>
                  <% if (nytimes[i].name == name) {%>
                    <% if(j == 0) { %>
                      <div class="carousel-item active">
                        <div class="card" style="width: 18rem">
                          <div class="card-body">
                            <p class="card-title" style = "font-size: 110%;font-weight: 500;"><%=name%></h5>
                            <br>
                            <img src = "../img/nyt.png" style = "width:110px">
                            <p><%= nytimes[i].abstract%> </p>
                            <a href = <%=nytimes[i].url%>><%=nytimes[i].url%></a>
                          </div>
                        </div>
                      </div>
                    <% } else {%>
                      <div class="carousel-item">
                        <div class="card" style="width: 18rem">
                          <div class="card-body">
                            <p class="card-title" style = "font-size: 110%;font-weight: 500;"><%=name%></h5>
                            <br>
                            <img src = "../img/nyt.png" style = "width:110px">
                            <p><%= nytimes[i].abstract%> </p>
                            <a href = <%=nytimes[i].url%>><%=nytimes[i].url%></a>
                          </div>
                        </div>
                      </div>
                    <% } %>
                    <% j++ %>
                  <% } %>
                <% } %>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls<%=k%><%=k%>" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true" style = "background-color: lightgrey;"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls<%=k%><%=k%>" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true" style = "background-color: lightgrey;"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <%}%>
        </center>
        </div>
        <% k++%>
        <% }) %>
      </div>
      
      
      <% if(fivethirtyeightpolls.length != 0) { %>
        <h3 style = "text-align: center; text-decoration: underline; margin-top: 5%">Most Recent Polling Information</h3>
        <center><img src = "../img/five-thirty-eight.png" style = "width:20%; margin-top:1%"></center>
        
      <% } %> 
      <div class="row" style = "margin-top: 3%">
        <% if(fivethirtyeightpolls.length != 0) { %>
          <% fivethirtyeightpolls.forEach(pollData => { %>
            <div class="col">
              <p style = "font-size: 150%; font-weight: 500;"><%=pollData.poll.Date %> </p>
              <p style = "font-size: 110%; font-weight: 300;"><%=pollData.poll.Candidate_1%> - <%=pollData.poll.Result_1%>  </p>
              <p style = "font-size: 110%; font-weight: 300;"><%=pollData.poll.Candidate_2%> - <%=pollData.poll.Result_2%>  </p>
            </div>
          <% }) %> 
        <% } %> 
      </div>
    </div>
    <br>
    <br>
    <br>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      function setDefault() {
        var val = 100
        document.getElementById("myRange").value = val
        document.getElementById("size").innerHTML = `${val}%`
        var height = 400
        var sheet = document.styleSheets[5]
        var rules = sheet.cssRules || sheet.rules
        rules[0].style.fontSize = `${val}%`
        rules[1].style.height = `${height}px`
        rules[1].style.width = `${val}%`
        rules[2].style.fontSize = `${val}%`
        const url = `/updateSize/${val}/${height}/search`
        $.ajax({
            global:false,
            type:'GET',
            url: url,
            dataType:'html',
            data: {},
            success : function (result) {
                console.log(result);
            },
            error: function (request, status, error) {
                console.log(error)
                Response.redirect('/')
            }
        })
      }
      document.getElementById("myRange").addEventListener("change", () => {
        var val = document.getElementById("myRange").value
        document.getElementById("size").innerHTML = `${val}%`
        var height = 350 * (1 + (val - 100)/100) + 80
        var sheet = document.styleSheets[5]
        var rules = sheet.cssRules || sheet.rules
        rules[0].style.fontSize = `${val}%`
        rules[1].style.height = `${height}px`
        rules[1].style.width = `${val}%`
        rules[2].style.fontSize = `${val}%`
        const url = `/updateSize/${val}/${height}/search`
        $.ajax({
            global:false,
            type:'GET',
            url: url,
            dataType:'html',
            data: {},
            success : function (result) {
                console.log("success");
            },
            error: function (request, status, error) {
                console.log(error)
                Response.redirect('/')
            }
        })
      })
    </script>
</body>
</html>